body {
    background-color: rgb(121, 36, 92);
    margin: 1px;
    padding: 0;
}

h1 {
    /* background-color: rgb(147, 238, 56);
     padding: 20px;
     border: 20px solid rgb(12, 12, 12);
     margin: top 150px; */
    display: inline-block 300px;
}

/* instruction for index html */
/* control forward slash allows me to make notes */
.box {
    height: 100px;
    width: 100px;
    border: 20px solid rgb(12, 12, 12);
    display: inline-block;
}

.navbar {
    background-color: rgb(255, 255, 255);
    padding: 5px;
}



/* menu items */
/* instructions for navbar html */
ul {
    list-style-type: none;
    float: right;
}

ul li {
    display: inline-block;
    padding-right: 14px;
    background-color: rgb(121, 36, 92);
    padding: 10px;
    border-radius: 50%;
}

/* gets rid of underline in link */

ul li a {
    text-decoration: none;
    color: rgb(12, 12, 12)
}

ul li a:hover {
    color: rgb(236, 231, 223);
}

ul li:hover {
    background-color: rgb(214, 156, 47);
}

/* image styles */
figure {
    background-color: rgb(243, 231, 231);
    border: 2px solid rgb(12, 12, 12);
    display: inline-block;
    padding: 25px;
    margin: 55px;
    border-radius: 40px;
}

/* these are the text under the photo */
figcaption {
    text-align: center;
    color: rgb(12, 12, 12);
    padding: 3px;
}

.left {
    float: left;
}

.center {
    float: center
}

.right {
    float: right;
}